Repository stac-utils/stac-api-benchmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, pyupgrade, reorder-python-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        args: ["--maxkb=50000000"]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.942
    hooks:
      - id: mypy
        exclude: '(test_.*|noxfile)\.py'
        args:
          [
            --strict,
            --no-strict-optional,
            --ignore-missing-imports,
            --implicit-reexport,
          ]
        additional_dependencies: ["types-aiofiles", "types-click"]

mypy again
  .pre-commit-config.yaml
  src/stac_api_benchmark/query.py
Due: black, check-yaml, flake8, pyupgrade, reorder-python-imports

mypy config
  .pre-commit-config.yaml
Due: check-yaml

remove duplicate mypy config in precommit
  .pre-commit-config.yaml
Due: check-yaml

convert to async and add sort tests (#67)
  .flake8
  .pre-commit-config.yaml
  README.rst
  poetry.lock
  pyproject.toml
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, check-toml, check-yaml, flake8, pyupgrade, reorder-python-imports

updates
  README.rst
  images/step.png
  images/tnc.png
  poetry.lock
  pyproject.toml
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, check-toml, flake8, pyupgrade, reorder-python-imports

formatting
  README.rst
Due: none

updates
  README.rst
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports

update options in readme
  README.rst
Due: none

properly exclude ids
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports

sort output format to 2 decimal places and refactor random query count
  .gitignore
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports

refactor method signatures
  README.rst
  poetry.lock
  pyproject.toml
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, check-toml, flake8, pyupgrade, reorder-python-imports

fix random option help text
  src/stac_api_benchmark/__main__.py
Due: black, flake8, pyupgrade, reorder-python-imports

fix typing by removing pydantic
  pyproject.toml
  src/stac_api_benchmark/query.py
Due: black, check-toml, flake8, pyupgrade, reorder-python-imports

refactor method signatures (#77)
  README.rst
  poetry.lock
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports

allow to be run on multiple collections
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports

add timeout to searches
  README.rst
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports

Pv/run multiple collections (#80)
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports

precommit
  src/stac_api_benchmark/__main__.py
Due: black, flake8, pyupgrade, reorder-python-imports

update poetry.lock
  poetry.lock
Due: none

Pv/add explicit timeout to searches (#79)
  README.rst
  poetry.lock
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports

refactor return types
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, check-toml, check-yaml, flake8, pyupgrade, reorder-python-imports

at end of run, output a json representation of the run
  .github/workflows/tests.yml
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, check-yaml, flake8, pyupgrade, reorder-python-imports

make random queries queryables a multiparameter
  README.rst
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports

fix poetry.lock
  poetry.lock
Due: none

update config
  poetry.lock
  pyproject.toml
Due: check-toml

update mypy dep
  pyproject.toml
Due: check-toml

add limit parameter
  README.rst
  poetry.lock
  src/stac_api_benchmark/__main__.py
  src/stac_api_benchmark/query.py
Due: black, flake8, pyupgrade, reorder-python-imports
